body{
    background-size: cover; 
    background-repeat: no-repeat;
}
.indroduction{
    position: relative;
    top:280px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-family: cursive;
    padding: 10px;
    text-transform: capitalize;
    margin-top: 5px;

}
.heading{
    text-transform: uppercase;
    font-size: 40px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    position: relative;
    top: 272px;
    color: white;
}

#modals ul{
    list-style-type: square;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(206, 54, 80);
}
.head-1{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin: 5px;
}
.types{
    font-size: 30px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin: 5px;
}
.head p{
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 15px 20px;
    text-decoration: underline 4px solid black;
}
.info{
    font-size: 25px;
    font-weight: 600;
}
.btn1{
    margin-left: 560px;
   }
   
  .button1{
    padding: 10px 10px;
    background: linear-gradient(to bottom, #f2e310 0%, #97fb0b 100%);
    border: none;
    cursor: pointer;
   
  }
  .button1:hover{
    padding: 10px 10px;
    background: linear-gradient(to bottom, #cefc04 0%, #fd9904 100%);
    border: none;
    cursor: pointer;
    border: 2px solid black;
   
  }
